.Main-contaner {
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #282c34;
  margin-left: 60px;
  margin-right: 60px;
}
/* <link rel="preconnect" href="https://fonts.googleapis.com"> */

body {
  font-family: sans-serif;
  margin-top: 0px;
}

/* left container which display nav bar */
.logo {
  width: 30px;
  margin-left: 10px;
  margin-top: 8px;
}
.left-col {
  margin-top: 8px;
}
.nav-container img {
  width: 130px;
  margin-left: 10px;
}
ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: white; */
}
li a {
  display: block;
  /* color: #000; */
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
}

/* li a.active {
  background-color: #03afcd;
  color: white;
} */

li a:hover:not(.active) {
  background-color: #f1f1f1;
  color: black;
}
li img {
  width: 22px;
  margin-right: 15px;
}
.nav {
  border-bottom: 1px solid rgb(224, 218, 218);
  margin-left: 200px;
  /* width: 100px; */
}

/* End nav  */

/* Mid container which display timeline  */

.timeline {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border: 1px solid #c4c4c54f;
  overflow-x: scroll;
  height: 900px;
  display: inline-block;
  position: relative;
  margin-top: 2px;
}
.post-container {
  max-width: 500px;
  display: grid;
  grid-template-rows: auto;
}
.post-container:hover {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  background-color: #f0f0f0b2;
}
.post {
  /* width: 100%; */
  border-bottom: 1px solid #c4c4c54f;
  /* border-radius: 4px; */
  display: grid;
  grid-template-columns: auto;

  /* margin-top: 8px;
  margin-bottom: 8px; */
}
.post img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin: 10px;
}
.header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: auto;
}
.header p {
  /* display: contents; */
  margin-block-start: 2em;
  color: rgb(161, 158, 158);
}
.contetnt {
  margin-left: 10px;
  /* border-bottom: 1px solid #282c344f; */
}
.contetnt input {
  width: 97%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer {
  display: grid;
  grid-template-rows: auto;
  /* border-bottom: 1px solid gray; */
  margin: 10px 10px 0 10px;
}
.post .footer button {
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: rgba(182, 92, 92, 0);
  border: none;
  color: white;
  /* padding: 12px 16px; */
  font-size: 16px;
  cursor: pointer;
}
.post .footer button img:hover {
  background-color: #dfffdcee;
  color: white;
  cursor: pointer;
}
.post .footer button img {
  width: 25px;
  height: 25px;
  margin: 3px;
  padding: 5px;
}

.post .footer .button1 {
  background-color: #03afcd;
  color: white;
  /* border: 1px solid #1c110a; */
  border-radius: 2px;
  transition: 0.5s;
  float: right;
  width: 80px;
  height: 30px;
  border-radius: 50px;
}
.post .footer .button1:hover {
  background: white;
  color: #03afcd;
  border: 1px solid #03afcd;
}
.tweet-input {
  width: 90%;
  height: 100px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  border: 1px solid #9595974f;
  border-radius: 5px;
}

/* end timelien */

/* Profile style */
.profile-container {
  border-bottom: 1px solid rgba(196, 196, 197, 0.31);
  display: grid;
  grid-template-columns: auto;
}
.profile-header {
  position: relative;
  margin-bottom: 40px;
}
.profile-username {
  color: rgb(83, 100, 113);
  font-size: 12px;
  font-family: inherit;
  margin-left: 30px;
}
.profile-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pagnaing {
  height: 50px;
  width: 100%;
  background-color: white;
  border: 1px solid white;
}
.pagnaing:hover {
  background-color: #f0f0f0b2;
  border: 1px solid #f0f0f0b2;
}
.header-img {
  width: 100%;
}
.avatar-img {
  width: 19%;
  height: 55%;
  border: 3px solid white;
  border-radius: 100%;
  margin-bottom: 10px;

  position: absolute;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 20px;
}

.avatar {
  position: relative;
  width: 25%;
  display: block;
}

.avatar-aspect-ratio {
  width: 100%;
  padding-bottom: 100%;
}

.avatar img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Right column which display search and trends  */
.right-col {
  margin-left: 20px;
  margin-top: 8px;
}
.trends-container {
  background-color: #f0efefd3;
  padding: 2px 12px;
  border-radius: 5px;
  margin-right: 120px;
  margin-bottom: 30px;
}
.trends {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid white;
}
.trends img {
  width: 70px;
  height: 60px;
  border-radius: 4px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}
.search-input {
  padding: 6px;
  margin-top: 8px;
  border: 1px solid #dfd9d9;
  border-radius: 60px;
  font-size: 17px;
  background-color: #f1eeee;
  width: 70%;
  margin-bottom: 25px;
}

.timeline::-webkit-scrollbar {
  display: none;
}

.follow-container {
  background-color: #f0efefd3;
  padding: 2px 12px;
  border-radius: 5px;
  margin-right: 120px;
}

/* Third project */
.main-container {
  display: flex;
  flex-direction: column;
}
.hero-container {
  margin-top: 10px;
  position: relative;
  background-image: url("./images/herobackground.png");
  background-size: cover;
  width: 1550px;

  height: 750px;
}
.doc-img {
  position: absolute;
  top: 100px;
  left: 620px;
  width: 850px;
  height: 650px;
}
.left-container {
  display: grid;
  grid-template-columns: 800px;
  /* border: 1px solid tomato; */
  margin-left: 40px;
}

.white {
  color: white;
  font-size: 80px;
  /* border: 1px solid tomato; */
  margin: 0px;
}
.login-container {
  /* border: 1px solid tomato; */
  display: grid;
  grid-template-columns: 180px 50px auto;
}
.login-container button {
  position: relative;
  top: 20px;
  background-color: white;
  border: white;
  transition: 0.5s;
  width: 150px;
  height: 35px;
  border-radius: 2px;
}
.login-container button:hover {
  background: #2f195f;
  color: white;
  border: 1px solid white;
  width: 200px;
}
.select-container {
  margin-top: 200px;
}

.select-container select {
  width: 343px;
  height: 40px;
  border-radius: 2px;
  color: black;
  font-size: 18px;
  padding: 2px;
}
.form-search-container {
  margin-top: 10px;
}
.form-search-container input {
  width: 343px;
  height: 40px;
  border-radius: 2px;
  color: black;
  font-size: 18px;
  border: 0px;
  padding: 2px;
  display: block;
}

.form-search-container button {
  position: relative;
  top: 20px;
  background-color: white;
  border: white;
  transition: 0.5s;
  width: 150px;
  height: 35px;
  border-radius: 2px;
}
.form-search-container button:hover {
  transform: scale(1.3);
}

/* Nav bar */

.topnav {
  padding: 1rem;
  margin-top: 5px;
  overflow: hidden;
  background-color: #2f195f;
}

.topnav a {
  margin: 5px;
  border: 1px solid white;
  border-radius: 4px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 54px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}

.topnav a:hover {
  background-color: white;
  color: #2f195f;
  transform: scale(1.05);
}

/* Best doctors scoreboards */
.best-doctors {
  display: flex;
  flex-direction: column;
}

.line-style {
  margin-top: 50px;
  margin-left: 50px;
  display: block;
}

/* Our best doctors */
.OBD {
  color: #2f195f;
  float: right;
  margin-top: 30px;
  margin-right: 100px;
  font-size: 50px;
  font-family: cursive;
}
.white {
  color: white;
}
.white:hover .size24 {
  font-size: 24px;
}
.bottom {
  margin-top: 130px;
  margin-left: 20px;
  cursor: pointer;
}
/* .or{
  width: 50px;
} */

/* Card style */
.doctor-maincard-container {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px #a3a5ae;
  padding: 30px;
  margin: 20px;
  width: 350px;
  border: 1px solid #f1f1f1;
  transition: 0.5s;
}
.doctor-maincard-container:hover {
  transform: scale(1.05);
}
.doctor-card-container {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px #a3a5ae;
  padding: 10px;
  margin: 20px;
  width: 300px;
  border: 1px solid #f1f1f1;
  height: 200px;
  transition: 0.5s;
}
.mainpage-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  padding: 30px;
}
.doctor-card-container:hover {
  transform: scale(1.05);
}
.doctor-card-container button {
  background-color: #2f195f;
  color: white;
  border: white;
  transition: 0.5s;
  width: 150px;
  height: 35px;
  border-radius: 2px;
}
.doctor-card-container button:hover {
  background-color: white;
  color: #2f195f;
  border: 1px solid #2f195f;
}
.doctor-maincard-container button {
  background-color: #2f195f;
  color: white;
  border: white;
  transition: 0.5s;
  width: 150px;
  height: 35px;
  border-radius: 2px;
}
.doctor-maincard-container button:hover {
  background-color: white;
  color: #2f195f;
  border: 1px solid #2f195f;
}

/* Search page */

.Searchpage-container {
  margin: 10px;
  margin-top: 50px;
  /* padding: 10px; */
  position: relative;
  background-image: url("./images/searchpage.jpeg");
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Searchpage-container .white {
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.form-searchbyname-container {
  margin-top: 10px;
}
.form-searchbyname-container input {
  width: 343px;
  height: 40px;
  border-radius: 2px;
  color: black;
  font-size: 18px;
  border: 0px;
  padding: 2px;
  display: block;
  margin-top: 10px;
}
.form-searchbyname-container button {
  position: relative;
  top: 20px;
  background-color: white;
  border: white;
  transition: 0.5s;
  width: 150px;
  height: 35px;
  border-radius: 2px;
}
.form-searchbyname-container button:hover {
  background-color: #2f195f;
  border: white;
color: white;}

body{
  cursor: url("./images/abdullah.svg"),auto !important; 
  /* cursor: url(https://athack.com/themes/custom/hack_theme/images/home-page/circle-solid-02.svg) 15 15,auto !important; */

}


/* Admin page */
.leftnav {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  /* margin-top: 5px; */
  /* overflow: hidden; */
  background-color: #2f195f;
  float: left;
  /* background:red; */
  position:absolute;
  top:0px;
  /* right:0px; */
  bottom:0px;
  left:0px;
  /* height: 100%; */
}

.leftnav a {

  margin: 5px;
  border: 1px solid white;
  border-radius: 4px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 54px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}

.leftnav a:hover {
  background-color: white;
  color: #2f195f;
  transform: scale(1.05);
}

  



/*Admin Content*/
.admin-content{
  margin-left: 215px;
  padding: 30px 15px;
  width: calc(100% - 215px);

}
.admin-content .row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.admin-content .row div{
  width: 180px;
  padding: 10px 5px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  margin-right: 15px;
}